html,
body {
    /* Prevent scroll on narrow devices */
    overflow-x: hidden;
}

p,
h5,
h4,
.fw-bold {
    word-break: break-word;
}

textarea {
    resize: none;
}

.nav-scroller .nav {
    color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-scroller .nav-link:hover {
    color: #007bff;
}

.nav-scroller .active {
    font-weight: 500;
    color: #343a40;
}